html,
body {
  margin: 0px;
  padding: 0px;
}

.titre {
  color: white;
  background-color: #aa8761;
  text-align: center;
  padding: 50px;
  font-size: 30px;
  border: none;
}

.conteneur {
  display: flex;
  justify-content: space-around;
}

.sous-titre {
  color: #3583ab;
}

.image {
  background-color: white;
  width: 50%;
  padding: 25px;
}



.texte {
  background-color: #e8e8e8;
  width: 50%;
  padding: 25px;
}

.sous-titre2 {
  color: #afbab4;
}

.sans-bordure-droite {
  border-right: none;
  text-align: center;
}
.sans-bordure-droite > ul{
  display: inline;
  text-align: left;

}

.sans-bordure-gauche {
  border-left: none;
  text-align: center;
}

.rose {
  background-color: #e8d9da;
}

.image-HTML {
  width: 350px;
}

.texte >h2{
  color: green;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.texte >button{
  background-color: red;
  padding: 25px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

/* button:hover{
  background-color: green;
}

button:focus{
  background-color: blue;
} */