html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #555;
  background-color: #eee;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  background-color: #aa8761;
  color: #fff;
  padding: 30px;
  margin: 0px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
}

.left {
  width: 50%;
  padding: 20px;
}

.right {
  width: 50%;
  padding: 20px;
}

/* ABOUT */

.right-about h2 {
  color: #3583ab;
}

.right-about {
  background-color: #e8e8e8;
  padding: 50px;
}

.left-about {
  text-align: center;
  background-color: white;
  padding: 50px;
}

#me {
  width: 160px;
  border-radius: 50%;
}

/* HTML */

.container-html {
  background-color: #e8d9da;
}

.left-html {
  margin-top: 100px;
  padding: 0px 120px 0px 120px;
  text-align: center;
}

#code-1 {
  width: 500px;
}

strong {
  color: #ad7176;
}

/* FOOTER */

.footer {
  background-color: #000000;
  color: #fff;
  padding: 30px;
  text-align: center;
}
